.prcontainerd {
    min-height: 100vh;
    display: map-get($estilos, dispflex );
    flex-direction: map-get($estilos, columns );
}
.discmain {
    display: map-get($estilos, dispflex );
    align-items: map-get($estilos, centro );
    flex-direction: map-get($estilos, columns );
    flex: 1;
}
.disch1 {
    font-family: $fontJosefin;
    text-align: map-get($estilos, centro );
    padding: $tam20px 0px $tam20px 0px;
}
.contpadredisc {
    display: map-get($estilos, dispflex );
    justify-content: map-get($estilos, centro );
    flex-wrap: wrap;
}
.divdisc {
    padding: 50px;
    margin: 1%;
}